<section id="banner" class="major">
    <div class="inner">
        <header class="major">
            <h1>{{ 'home.header'|trans }}</h1>
        </header>
        <div class="content">
            <p>{{ 'home.header_text_1'|trans }}<br />
                {{ 'home.header_text_2'|trans }}</p>
            {#<ul class="actions">#}
                {#<li><a href="#one" class="button next scrolly">Get Started</a></li>#}
            {#</ul>#}
        </div>
    </div>
</section>