<header id="header">
    <div class="logo">
        <span class="icon fa-diamond"></span>
    </div>
    <div class="content">
        <div class="inner">
            <h1>Laipiojimo sienelės</h1>
            <p>Įmonė "Laipiojimo sienelės" yra viena lyderiaujančių Laipiojimo sienelių<br>
                projektavimo ir įrengimo įmonių Lietuvoje.</p>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#intro">Apie</a></li>
            <li><a href="#work">Galerija</a></li>
            {#<li><a href="#about">About</a></li>#}
            <li><a href="#contact">Užsakyti</a></li>


            <li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('facebook_logout') }}">
                        <span class="icon">
                            <i class="fa fa-facebook-official", style="color: #3b5998"></i>
                        </span>
                        <span>Logout</span>
                    </a>
                {% else %}
                    <a href="{{ path('app_facebook_connect') }}" >
                        <span class="icon">
                            <i class="fa fa-facebook-official", style="color: #3b5998"></i>
                        </span>
                        <span>Login</span>
                    </a>
                {% endif %}
            </li>
            <!--<li><a href="#elements">Elements</a></li>-->
        </ul>
    </nav>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div>
            <h1>Hello, {{ app.user.name }}</h1>
        </div>
    {% endif %}
    <span class="image main"><img src="{{ asset('images/pic02.jpg') }}" alt="" /></span>

</header>

