<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ "Laipiojimo sienelės" }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    {% endblock %}

    {% block canonical_meta %}{% endblock %}
</head>
<body>
    <div id="wrapper">
        {% block wrapper %}
            <!-- Header -->
            {% block header %}
                {% include "AppBundle:inc:header.html.twig" %}
            {% endblock %}

            <!-- Banner -->
            {% block banner %}
                {% include "AppBundle:inc:banner.html.twig" %}
            {% endblock %}

            <!-- Main -->
            {% block main %}
            {% endblock %}

            <!-- Contact -->
            {% block contact %}
                {% include "AppBundle:inc:contact.html.twig" %}
            {% endblock %}

            <!-- Footer -->
            {% block footer %}
                {% include "AppBundle:inc:footer.html.twig" %}
            {% endblock %}
        {% endblock %}
    </div>



    {% block javascripts %}
        <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}

</body>
</html>