{% extends "AppBundle::base.html.twig" %}
{% block banner %}{% endblock %}
{% block main %}
    <div id="main" class="alt">

        <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h1>{{ product.name }}</h1>
                </header>
                <span class="image main"><img src="{{ asset('images/' ~ product.mainPicture) }}" alt="" /></span>
                <p>{{ product.longDescription }}</p>
            </div>
        </section>

    </div>
{% endblock %}
