{% extends "AppBundle::base.html.twig" %}

{% block title %}Test Facebook login{% endblock %}

{% block body %}



    <h3>You can log in to the page via Facebook here (not fully working yet).</h3>

    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="false"></div>
    <br>
    <a href="/login/facebook">login test (doesn't work, can't find why)</a>

{% endblock %}
